/* Coolors Exported Palette - coolors.co/70b0bf-ed8e71-e7ffcc-9bef86-7beaf2 */

/* HSL */
$color1: hsla(191%, 38%, 59%, 1);
$color2: hsla(14%, 78%, 69%, 1);
$color3: hsla(88%, 100%, 90%, 1);
$color4: hsla(108%, 77%, 73%, 1);
$color5: hsla(184%, 82%, 72%, 1);

/* RGB */
$color1: rgba(112, 176, 191, 1);
$color2: rgba(237, 142, 113, 1);
$color3: rgba(231, 255, 204, 1);
$color4: rgba(155, 239, 134, 1);
$color5: rgba(123, 234, 242, 1);